<h1>Devolver Empréstimo #{{ emprestimo.id }}</h1>
<p><b>Livro:</b> {{ emprestimo.livro.nome }}</p>
<p><b>Usuário:</b> {{ emprestimo.usuario.username }}</p>
<p><b>Saída:</b> {{ emprestimo.data_saida }}</p>
<p><b>Prevista:</b> {{ emprestimo.data_prevista_devolucao }}</p>
<form method="post">
  {% csrf_token %}
  <p><label>Data da devolução:</label><input type="date" name="data_devolucao" required></p>
  <button type="submit">Registrar devolução</button>
</form>
<p><a href="{% url 'livros:emprestimos_list' %}">Voltar</a></p>
