<h1>Novo Empréstimo</h1>
<form method="post">
  {% csrf_token %}
  <p><label>Livro:</label>
    <select name="livro_id" required>
      {% for l in livros %}<option value="{{ l.id }}">{{ l.nome }}</option>{% endfor %}
    </select>
  </p>
  <p><label>Usuário:</label>
    <select name="usuario_id" required>
      {% for u in usuarios %}<option value="{{ u.id }}">{{ u.username }}</option>{% endfor %}
    </select>
  </p>
  <p><label>Data de saída:</label><input type="date" name="data_saida" required></p>
  <p><label>Data prevista:</label><input type="date" name="data_prevista_devolucao" required></p>
  <button type="submit">Salvar</button>
</form>
<p><a href="{% url 'livros:emprestimos_list' %}">Voltar</a></p>
