<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>





<body>
    <h1>Cadastre seus livros aqui!</h1>

    <form action="" method="post">
         {% csrf_token %}
                                        
    <label for="id_nome">Nome:</label>
    <input type="text" name="nome" value="{{ dados.nome|default_if_none:'' }}">
    {% if erros.nome %}
        <p style="color: red;">{{ erros.nome }}</p>
    {% endif %}
    
    <label for="id_autor">Autor:</label>
    <input type="text" name="autor" value="{{ dados.autor|default_if_none:'' }}">
    {% if erros.autor %}
        <p style="color: red;">{{ erros.autor }}</p>
    {% endif %}


    <p>
        <label for="id_isbn">ISBN:</label><br>
        <textarea 
            name="isbn" 
            id="id_isbn" 
            rows="4" 
            cols="40"
            placeholder="Digite o ISBN aqui..."
        >{{ dados.isbn|default_if_none:'' }}</textarea>
        {% if erros.isbn %}
            <span style="color: red; font-size: 0.9em;">{{ erros.isbn }}</span>
        {% endif %}
    </p>

    <p>
        <input 
            type="checkbox" 
            name="completo" 
            id="id_completo" 
            value="True"
            {% if dados.completo %}checked{% endif %}
        >
        <label for="id_completo">Livro completo (Já finalizado)</label>
        {% if erros.completo %}
            <span style="color: red; font-size: 0.9em;">{{ erros.completo }}</span>
        {% endif %}
    </p>

    <button type="submit">Cadastrar Livro</button>
    
    {% if erro_geral %}
        <p style="color: darkred; font-weight: bold;">{{ erro_geral }}</p>
    {% endif %}

    

    </form>
</body>
</html>